@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'work sans', sans-serif;
    color: #777777;
}


h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -7px;
    line-height: 96px;
    text-transform: none;
    color: #E2725B;
}

h2 {
    font-family: 'work sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}


h3 {
    font-family: 'work sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}

h4 {
    font-family: 'work sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #777777;
}

h5 {
    font-family: 'work sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #777777
}




/*------------ HEADER/NAVBAR ------------*/

header {
    margin: 0;
    height: 100px;
    background-color: #fff;
}

.logo {
    background: url("..images/js-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    font-family: 'work sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 20px;
}

.menu a:hover {
    color: #E2725B !important;
}

.active {
    color: #E2725B !important;
}


/*------------ HERO IMAGE ------------*/

.hero-image {
    height: 100vh;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 200px;
}

#cover-text {
    color: #fff;
}


.button-text {
    text-transform: uppercase;
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    color: #fff;
    background: #E2725B;
    border-color: #E2725B;
}

.button-text:hover {
    color: #fff;
    background: transparent;
    border-color: #E2725B;
}

/*------------ COLLECTION------------*/

.collection{
height: 100vh;
}
.ceramic-selection{
    padding-top: 60px;
    width: 33%;
    float: left;
}


/*------------ IMAGES ------------*/

.info-image {
    position: center;
    width: 100%;
}



/*------------ STOCKISTS ------------*/

.stockists-list {
    position: center;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: center;
}

/*------------ LINKS ------------*/

.stockists-links {
    font-family: 'work sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.stockists-links a {
    text-decoration: none;
    color: #777777;

}

.stockists-links a:hover {
    color: #E2725B;
}


/*------------ ABOUT ------------*/

.subheading {
    text-align: center;
}

.about-text {
    text-align: justify;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 20px;
}

/*------------ CONTACT ------------*/

.contact-heading {

    text-align: center;
    vertical-align: left;
    margin-top: 40px;
}

.contact-i {
    font-size: 18px;
    padding: 6px;
    color: #E2725B;
}

/*------------ FOOTER ------------*/

footer {
    height: 80px;
    background-color: #fff;
    margin: 0;
}

.social-links {
    padding-bottom: 10px;
    padding-top: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #777777;
    transition: all 0.35s ease-in-out;
    -moz- transition: all 0.35s ease-in-out;
    -webkit- transition: all 0.35s ease-in-out;
    -o- transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    color: #E2725B;
}