@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;800&display=swap');


body {
    font-family: 'work sans', sans-serif;
    color: #777777;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -7px;
    color: #E2725B;
}

h2 {
    font-family: 'work sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}


h3 {
    font-family: 'work sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}

h4 {
    font-family: 'work sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #777777;
}

h5 {
    font-family: 'work sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #777777
}




/*------------ HEADER/NAVBAR ------------*/

header {
    margin: 0;
    height: 100px;
    background-color: #fff;
}

.logo {
    background: url("..images/js-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    font-family: 'work sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 20px;
}

.menu a:hover {
    color: #E2725B !important;
}

.active {
    color: #E2725B !important;
}


/*------------ HERO IMAGE ------------*/

#hero-image{
    height: 600px;
    background: url("/assets/images/cups-hero-image2.jpg") no-repeat center center;  
    
}

/*------------ HERO TEXT ------------*/
#hero-text {
    font-family: "Work Sans", sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -7px;
    color: #E2725B;

    width: 100%;
    position: absolute;
    text-align: center;
    top: 70px;
    
}

#cover-text {
    color: #fff;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 150px;
    
}
/*------------ HERO BUTTON ------------*/


#button-pos {
    
}

.button-text {
    text-transform: uppercase;
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    color: #fff;
    background: #E2725B;
    border-color: #E2725B;

}

.button-text:hover {
    color: #fff;
    background: transparent;
    border-color: #E2725B;
}


/*------------ COLLECTION------------*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    margin-bottom: 100px;
}

#photo img {
    width: 100%;
    padding: 2px;
}

/*------------ IMAGES ------------*/

.info-image {
    position: center;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 100px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*------------ STOCKISTS ------------*/

.stockists-list {
    position: center;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: center;
    padding-right: 30px;
}

.stockists-links {
    font-family: 'work sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: center;
    text-align: center;
}

.stockists-links a {
    text-decoration: none;
    color: #777777;

}

.stockists-links a:hover {
    color: #E2725B;
}


/*------------ ABOUT ------------*/

.subheading {
    text-align: center;
   padding-top:10px;
   text-shadow: 4px;
}

.about-text {
    text-align: justify;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
}


/*------------ CONTACT ------------*/

.contact-info {
    text-align: center;
    vertical-align: left;
    margin-top: 40px;
}

.contact-i {
    font-size: 18px;
    padding: 6px;
    color: #E2725B;
}

.heart {
    color: #E2725B;
}

.form-group {
    margin-left: 20px;
    margin-right: 20px;
}

.button-text-form {
    text-align: center;
    text-transform: uppercase;
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    color: #fff;
    background: #E2725B;
    border-color: #E2725B;
    margin-left: 20px;
}

.button-text-form:hover {
    color: #E2725B;
    background: transparent;
    border-color: #E2725B;
}


/*------------ FOOTER ------------*/

footer {
    height: 80px;
    background-color: #fff;
    margin: 0;
}

.social-links {
    padding-bottom: 10px;
    padding-top: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #777777;
    transition: all 0.35s ease-in-out;
    -moz- transition: all 0.35s ease-in-out;
    -webkit- transition: all 0.35s ease-in-out;
    -o- transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    color: #E2725B;
}

/*------------ MEDIA QUERIES ------------*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #photo {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0;
        margin-bottom: 100px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


} 